doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="//fonts.googleapis.com/css?family=Rubik:300,400,500|Satisfy", rel="stylesheet", type="text/css")
  body
    #wrapper
      .main
        .header
          img(src="images/gdiboulder-slack-logo.png")
          h1 #{community}
          h2 #{__('HEADER', community)}
        .content
          .information
            form(method="POST", action="/invite")#join-form.form
              input(type="email", name="email", placeholder="#{__('ENTER_EMAIL')}")#slack-email.field
              if tokenRequired
                input(type="text", name="token", placeholder="#{__('ENTER_TOKEN')}")#slack-token.field
              input(type="submit", value="Join").submit
        .disclaimer
          p By joining the Girl Develop It Boulder/Denver Slack group you agree to abide by our <a href="https://www.girldevelopit.com/code-of-conduct">Code of Conduct</a>.
          p Don't forget to check us out on <a href="http://gdiboulder.com/join">MeetUp</a>, <a href="http://facebook.com/gdiboulder">Facebook</a>, <a href="http://twitter.com/gdiboulder">Twitter</a>, and <a href="http://instagram.com/gdiboulder">Instagram</a>!
    script.
      var tokenRequired = #{tokenRequired};
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email');
      var token = document.getElementById('slack-token');
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
        if (tokenRequired && !token.value) {
          evt.preventDefault();
        }
      });
